<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag "/stylesheets/theme/pinknose" %>
  <%= stylesheet_link_tag "/stylesheets/theme/local" %>
</head>
<body>
  <div id="container" class="clearfix">
      <div id="header">
        <div id="logo">
          <h1 id="sitename"><%= link_to this_blog.blog_name, { :controller => '/' } %></h1>
          <h2 id="subtitle"><%= this_blog.blog_subtitle %></h2>
        </div>
      </div>
      
      <div id="search"> <%= render :partial => "shared/search" %></div>
      
      <div id="content" class="clearfix">
        <div id="main">
          <%= @content_for_layout %>
          <%= javascript_tag "show_dates_as_local_time()" %>
        </div>
        <div id="sidebar">     
            <div id="search-results"></div>
            <%= observe_field "q", 
                  :frequency => 1, 
                  :url => { :controller => "live", :action => "search" }, 
                  :loading => "Element.show('search_spinner')",
                  :complete => "Element.hide('search_spinner')",
                  :update => "search-results" -%>
                  <div id="blogCalendar"></div>
<script src="/javascripts/calendar.js" type="text/javascript"></script>
<script type="text/javascript">
Calendar.base='www.zincfish.com';
Calendar.timeZone='-08'; 
Calendar.drawTable();
</script>
            <%= render_sidebars %>
            <h3>ClustrMaps</h3>
            <a id="clustrMapsLink" href="http://www4.clustrmaps.com/counter/maps.php?url=http://www.zincfish.com"><img id="clustrMapsImg" style="border:0px;" alt="Locations of visitors to this page" src="http://www4.clustrmaps.com/counter/index2.php?url=http://jarodyv.blogspot.com" onerror="this.onerror=null; this.src='http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://www2.clustrmaps.com';" title="Locations of visitors to this page"/>
</a>
           <script type="text/javascript" src="http://cdn.widgetserver.com/syndication/subscriber/InsertWidget.js"></script><script>if (WIDGETBOX) WIDGETBOX.renderWidget('ab3badcb-78e7-4741-b0c5-e50b8a9b7485');</script>
            <%= link_to image_tag("zincmind.gif"), "http://typosphere.org", {:class => "powered" } %><br/>
            <%= link_to image_tag("zincmark.gif"), "http://typosphere.org", {:class => "powered" } %><br/>
            <%= link_to image_tag("powered.gif"), "http://typosphere.org", {:class => "powered" } %>
            </div>

            <br clear="all" />
      </div>
      <div id="footer">
        <ul>
          <li><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0</a></li>
          <li><a href="http://jigsaw.w3.org/css-validator/validator?uri=<%= server_url_for :controller => 'articles' %>">Valid CSS</a></li>
        </ul>
      </div>
  </div>
</body>
</html>
